/* Custom CSS */
.login-form { /* Mengubah .signup-form menjadi .login-form sesuai dengan kelas HTML */
    width: 80%; /* Lebar form sign in */
    margin-bottom: 20px; /* Jarak bawah untuk form sign in */
}

.header {
    margin-bottom: 30px; /* Margin bawah untuk header */
}

@media (min-width: 992px) {
    .login-form { /* Mengubah .signup-form menjadi .login-form sesuai dengan kelas HTML */
        width: 70%; /* Ubah lebar form sign in saat tampilan PC */
    }

    .position-absolute {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        left: auto; /* Menghapus padding kiri */
    }
}

.forgot-password {
    display: block;
    margin-bottom: 10px; /* Menambah jarak bawah antara tulisan dan tombol */
    text-align: right; /* Memposisikan tulisan ke kanan */
    color: #0088ff; /* Warna teks tulisan */
}

/* Menjadikan kata "Sign Up" menjadi tebal */
.signup-txt a {
    font-weight: bold;
}

.signin-google {
    width: 100%; /* Lebar penuh untuk tombol sign-in Google */
    margin-top: 10px; /* Margin atas untuk tombol sign-in Google */
    margin-bottom: 10px; /* Margin bawah untuk tombol sign-in Google */
}

.signin-google a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #525252; /* Warna teks untuk tombol sign-in Google */
}