/* Custom CSS */
.register-form {
    width: 80%; /* Lebar form sign up */
    margin-bottom: 20px; /* Jarak bawah untuk form sign up */
}

.header {
    margin-bottom: 30px; /* Margin bawah untuk header */
}

.signup-form { /* Mengubah .signup-form menjadi .register-form sesuai dengan kelas HTML */
    width: 80%; /* Lebar form sign up */
}

@media (min-width: 992px) {
    .register-form { /* Mengubah .signup-form menjadi .register-form sesuai dengan kelas HTML */
        width: 65%; /* Ubah lebar form sign up saat tampilan PC */
    }

    .position-absolute {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: auto; /* Menghapus padding kiri */
    }
}

.forgot-password {
    display: block;
    margin-bottom: 10px; /* Menambah jarak bawah antara tulisan dan tombol */
    text-align: right; /* Memposisikan tulisan ke kanan */
    color: #0088ff; /* Warna teks tulisan */
}

/* Menjadikan kata "Sign Up" menjadi tebal */
.signup-txt a {
    font-weight: bold;
}